h2 {
    font-family: 'Rye', cursive;
    background-color: aqua;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    background-size:auto ;
}

#take-snap:hover {
    background-color: red;
}

canvas {
    animation-name: color-shift;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border: 3px solid black;
}

@keyframes color-shift {
    from {
        box-shadow: 1px 1px 38px white;
    }

    to {
        box-shadow: 1px 1px 25px red;
    }
}